<footer class="bg-primary-100">
  <div
    class="container relative py-5 text-center after:absolute after:left-3 after:right-3 after:top-0 after:h-px after:bg-neutral-300 after:content-[''] lg:py-6"
  >
    <p class="tracking-widest text-neutral-400 lg:font-semibold">
      ©Vivre 2024 All right Reserved
    </p>
  </div>
</footer>
